<app-navbar></app-navbar>

<div class="task-create-container">
  <div class="task-create-card shadow bg-white p-4 rounded">
    <h2 class="text-center mb-4">Create Task</h2>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Status</label>
        <select class="form-select" formControlName="status">
          <option value="TO_DO">To Do</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="DONE">Done</option>
        </select>
      </div>

      <button class="btn btn-success w-100" type="submit" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
        {{ loading ? 'Creating...' : 'Create Task' }}
      </button>
    </form>
  </div>

  <!-- Toast -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3" *ngIf="showToast">
    <div class="toast show text-bg-danger">
      <div class="d-flex">
        <div class="toast-body">{{ errorMsg }}</div>
        <button class="btn-close btn-close-white me-2 m-auto" (click)="closeToast()"></button>
      </div>
    </div>
  </div>
</div>
